<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="WorldMapDBContext" connectionString="server=DESKTOP-D64SARI\SQLEXPRESS;Database=CountryPractice;integrated security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MaximumNumberOfInvalidLoginAttempts" value="5" />
    <add key="DaysUntilPasswordChangeRequired" value="60" />
    <add key="DaysUntilNewPasswordShouldNotMatchInHistory" value="3" />
    <add key="StartPasswordChangeNotificationBy" value="10" />
    <add key="MaxInActiveDaysPeriod" value="90" />
    <add key="PrescriptionExpireInNoOfYears" value="3" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IContinentDataService" />
        <binding name="BasicHttpBinding_ICityDataService" />
        <binding name="BasicHttpBinding_ICountryDataService" />
        <binding name="BasicHttpBinding_IOverseasTerritoriesDataService" />
        <binding name="BasicHttpBinding_IStateDataService" />
        <binding name="BasicHttpBinding_IRoleDataService" />
        <binding name="BasicHttpBinding_IUserDataService" />
        <binding name="BasicHttpBinding_IUserRoleMappingService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/ContinentData/WorldMap.ServiceDemo.ContinentDataService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IContinentDataService"
        contract="ContinentDataServiceReference.IContinentDataService"
        name="BasicHttpBinding_IContinentDataService" />
      <endpoint address="http://localhost:8080/CityData/WorldMap.ServiceDemo.CityDataService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICityDataService"
        contract="CityDataServiceReference.ICityDataService" name="BasicHttpBinding_ICityDataService" />
      <endpoint address="http://localhost:8080/CountryData/WorldMap.ServiceDemo.CountryDataService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICountryDataService"
        contract="CountryDataServiceReference.ICountryDataService" name="BasicHttpBinding_ICountryDataService" />
      <endpoint address="http://localhost:8080/OverseasTerritoriesData/WorldMap.ServiceDemo.OverseasTerritoriesDataService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOverseasTerritoriesDataService"
        contract="OverseasTerritoriesDataServiceReference.IOverseasTerritoriesDataService"
        name="BasicHttpBinding_IOverseasTerritoriesDataService" />
      <endpoint address="http://localhost:8080/StateData/WorldMap.ServiceDemo.StateDataService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStateDataService"
        contract="StateDataServiceReference.IStateDataService" name="BasicHttpBinding_IStateDataService" />
      <endpoint address="http://localhost:8080/RoleData/WorldMap.ServiceDemo.RoleDataService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoleDataService"
        contract="RoleDataServiceReference.IRoleDataService" name="BasicHttpBinding_IRoleDataService" />
      <endpoint address="http://localhost:8080/UserData/WorldMap.ServiceDemo.UserDataService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserDataService"
        contract="UserDataServiceReference.IUserDataService" name="BasicHttpBinding_IUserDataService" />
      <endpoint address="http://localhost:8080/UserRoleMapping/WorldMap.ServiceDemo.UserRoleMappingService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserRoleMappingService"
        contract="UserRoleMappingServiceReference.IUserRoleMappingService"
        name="BasicHttpBinding_IUserRoleMappingService" />
    </client>
  </system.serviceModel>
</configuration>