<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="WorldMapDBContext" connectionString="server=DESKTOP-D64SARI\SQLEXPRESS;Database=CountryPractice;integrated security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="WorldMap.ServiceDemo.ContinentDataService" behaviorConfiguration="mexBehaviour">
        <endpoint address="WorldMap.ServiceDemo.ContinentDataService" binding="basicHttpBinding" contract="WorldMap.ServiceDemo.IContinentDataService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/ContinentData/" />
          </baseAddresses>
        </host>
      </service>

      <service name="WorldMap.ServiceDemo.CityDataService" behaviorConfiguration="mexBehaviour">
        <endpoint address="WorldMap.ServiceDemo.CityDataService" binding="basicHttpBinding" contract="WorldMap.ServiceDemo.ICityDataService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/CityData/" />
          </baseAddresses>
        </host>
      </service>

      <service name="WorldMap.ServiceDemo.CountryDataService" behaviorConfiguration="mexBehaviour">
        <endpoint address="WorldMap.ServiceDemo.CountryDataService" binding="basicHttpBinding" contract="WorldMap.ServiceDemo.ICountryDataService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/CountryData/" />
          </baseAddresses>
        </host>
      </service>

      <service name="WorldMap.ServiceDemo.OverseasTerritoriesDataService" behaviorConfiguration="mexBehaviour">
        <endpoint address="WorldMap.ServiceDemo.OverseasTerritoriesDataService" binding="basicHttpBinding" contract="WorldMap.ServiceDemo.IOverseasTerritoriesDataService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/OverseasTerritoriesData/" />
          </baseAddresses>
        </host>
      </service>

      <service name="WorldMap.ServiceDemo.RoleDataService" behaviorConfiguration="mexBehaviour">
        <endpoint address="WorldMap.ServiceDemo.RoleDataService" binding="basicHttpBinding" contract="WorldMap.ServiceDemo.IRoleDataService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/RoleData/" />
          </baseAddresses>
        </host>
      </service>

      <service name="WorldMap.ServiceDemo.StateDataService" behaviorConfiguration="mexBehaviour">
        <endpoint address="WorldMap.ServiceDemo.StateDataService" binding="basicHttpBinding" contract="WorldMap.ServiceDemo.IStateDataService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/StateData/" />
          </baseAddresses>
        </host>
      </service>

      <service name="WorldMap.ServiceDemo.UserDataService" behaviorConfiguration="mexBehaviour">
        <endpoint address="WorldMap.ServiceDemo.UserDataService" binding="basicHttpBinding" contract="WorldMap.ServiceDemo.IUserDataService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/UserData/" />
          </baseAddresses>
        </host>
      </service>

      <service name="WorldMap.ServiceDemo.UserRoleMappingService" behaviorConfiguration="mexBehaviour">
        <endpoint address="WorldMap.ServiceDemo.UserRoleMappingService" binding="basicHttpBinding" contract="WorldMap.ServiceDemo.IUserRoleMappingService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/UserRoleMapping/" />
          </baseAddresses>
        </host>
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>